<p id="notice"><%= @message %></p>
<h1>Payment Details</h1>
<p>Customer Name: <%= @customer_name %></p>
<p>Receipt Link: <%= link_to "download", @receipt_url %></p>
<p>Go Back: <%= link_to "Cart Page", root_url %></p>